.fc-state-default {
  background: var(--light-gray) !important;
  border: 0 !important;
  color: inherit !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

td.fc-today {
  background-color: var(--light-yellow) !important;
}

.fc-event,
.fc-event-dot {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}
