.lh-subsolid { line-height: 0.875; }

@media (--breakpoint-not-small) {
  .lh-subsolid-ns { line-height: 0.875; }
}

@media (--breakpoint-medium) {
  .lh-subsolid-m { line-height: 0.875; }
}

@media (--breakpoint-large) {
  .lh-subsolid-l { line-height: 0.875; }
}
