.mw8 { max-width: 966px; }

@media (--breakpoint-not-small) {
  .mw8-ns { max-width: 966px; }
}

@media (--breakpoint-medium) {
  .mw8-m { max-width: 966px; }
}

@media (--breakpoint-large) {
  .mw8-l { max-width: 966px; }
}
