{% extends "archive.twig" %}

{% set posts_list_format = "list" %}

{% block archive_content %}
  <div id="calendar">
    {% include "components/calendar.twig" %}
  </div>

  <div class="mb5">
    {% include "components/submenu-listing.twig" %}
  </div>
{% endblock %}
