{% extends "base.twig" %}

{% block content %}
  <section class="mb5">
    {% include [
      "components/posts-" ~ posts_list_format ~ ".twig",
      "components/posts-grid.twig"
    ] %}
  </section>

  {% block archive_content %}
  {% endblock %}

  {% include "components/join-callout.twig" %}
{% endblock %}
