{% extends "base.twig" %}

{% block content %}
  <section class="mb3">
    {% include "components/post-list.twig" %}
  </section>

  <div class="mb5">
    {% include "components/pagination.twig" %}
  </div>

  {% include "components/join-callout.twig" %}
{% endblock %}
