{% extends "archive.twig" %}

{% set post = { "slug": "articles" } %}
{% set posts_list_format = "list" %}

{% block header_title %}
  {{ parent() }}
  {% if parent()|trim != "News" %}
    News
  {% endif %}
{% endblock %}

{% block archive_content %}
  <div class="mb5 dn-l">
    {% include "components/title.twig" with { "content": "Categories" } %}
    {% include "components/submenu-listing.twig" %}
  </div>
{% endblock %}
