{% extends "archive.twig" %}

{% set post = { "slug": "events" } %}
{% set posts_list_format = "list" %}

{% block archive_content %}
  <div id="calendar">
    {% include "components/calendar.twig" %}
  </div>

  <div class="mb5 dn-l">
    {% include "components/title.twig" with { "content": "Categories" } %}
    {% include "components/submenu-listing.twig" %}
  </div>
{% endblock %}
