{% extends "base.twig" %}

{% block content %}
  <nav class="mv4 mv5-m">
    <span class="mr3 f3 f2-m fw6 lh-title">
      <a href="{{ companies_link }}">Companies</a>
    </span>

    <span class="f3 f2-m fw6 lh-title">
      <a href="{{ professionals_link }}">Professionals</a>
    </span>
  </nav>

  <div class="col-2-l colg5">
    {% for member in members %}
      <div class="colbia-l mb4">
        {% include ["includes/teaser-member.twig"] %}
      </div>
    {% endfor %}
  </div>

  {% include ["includes/pagination.twig"] %}
{% endblock %}
