{% extends "page.twig" %}

{% block content %}
  {{ parent() }}

  <nav class="mb5">
    {% include "components/title.twig" with { "content": "Companies", "link": companies_link } %}
    {% include "components/title.twig" with { "content": "Professionals", "link": professionals_link } %}
  </nav>

  <div class="mb4">
    {% include "components/post-list.twig" with { "teaser_template": "components/teaser-member.twig" } %}
  </div>

  {% include "components/pagination.twig" %}
{% endblock %}
