{% extends "base.twig" %}

{% block content %}
  {% if post.content %}
    <article class="mb5">
      <div class="mw7">
        {{ post.content }}
      </div>
    </article>
  {% endif %}

  <nav class="nt4 mb4 mb5-m flex">
    <div class="mr4">
      {% include "components/title.twig" with { "content": "Companies", "link": companies_link } %}
    </div>

    <div>
      {% include "components/title.twig" with { "content": "Professionals", "link": professionals_link } %}
    </div>
  </nav>

  <div class="nt3">
    {% include "components/post-list.twig" with { "teaser_template": "components/teaser-member.twig" } %}
  </div>

  {% include "components/pagination.twig" %}
{% endblock %}
