<nav>
  <div><a class="f3 gray hover-light-gray no-underline" href="">About</a></div>
  <div><a class="f3 gray hover-light-gray no-underline" href="">Membership</a></div>
  <div><a class="f3 gray hover-light-gray no-underline" href="">Events</a></div>
  <div><a class="f3 gray hover-light-gray no-underline" href="">News</a></div>
  <div><a class="f3 gray hover-light-gray no-underline" href="">Resources</a></div>
  <div><a class="f3 gray hover-light-gray no-underline" href="">Log&nbsp;In</a></div>
</nav>
