<nav class="flex justify-between items-end">
  <div class="flex-auto flex-no-shrink">
    <a class="db" href="{{ site.url }}">
      <img class="db" src="{{ theme.link }}/images/logo.svg" width="184" alt="MedMates">
    </a>
  </div>

  <section class="dn-l ml5">
    <a href="">
      <img class="db" src="{{ theme.link }}/images/icon-menu.svg" height="27" alt="Menu" title="Menu">
    </a>
    <div style="left: 0;" class="child absolute w-100 pv4 ph3 bg-white shadow-5">
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">About</a></div>
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">Membership</a></div>
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">Events</a></div>
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">News</a></div>
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">Resources</a></div>
      <div><a class="f3 fw4 dark-gray hover-gray no-underline" href="">Log&nbsp;In</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml5 mr2">
    <h1 class="ma0 f3 lh-subsolid fw4 dark-gray cursor">About</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <div><a href="">Mission</a></div>
      <div><a href="">What We Do</a></div>
      <div><a href="">History</a></div>
      <div><a href="">Board of Directors</a></div>
      <div><a href="">Leadership</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw4 dark-gray cursor">Membership</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <div><a href="">Benefits</a></div>
      <div><a href="">Directory</a></div>
      <div><a href="">Active Teams</a></div>
      <div><a href="">Join</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw4 dark-gray cursor">Events</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <div><a href="">Calendar</a></div>
      <div><a href="">Open Networking</a></div>
      <div><a href="">All Events</a></div>
      <div><a href="">Workshops</a></div>
      <div><a href="">Pitch Events</a></div>
      <div><a href="">Team Meetings</a></div>
      <div><a href="">Regional Events</a></div>
      <div><a href="">EXPO</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw4 dark-gray cursor">News</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <div><a href="">Latest News</a></div>
      <div><a href="">Category 1</a></div>
      <div><a href="">Category 2</a></div>
      <div><a href="">Category 3</a></div>
      <div><a href="">Category 4</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw4 dark-gray cursor">Resources</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <div><a href="">Member Directory</a></div>
      <div><a href="">Training</a></div>
      <div><a href="">Mentors</a></div>
      <div><a href="">Equipment</a></div>
      <div><a href="">Facilities</a></div>
      <div><a href="">Capital</a></div>
    </div>
  </section>

  <a class="dn db-l ml3 mr2 f3 lh-subsolid fw4 dark-gray hover-gray no-underline" href="">Log&nbsp;In</a>

  <a class="dn db-l flex-no-shrink ml3" href="">
    <img class="db" src="{{ theme.link }}/images/icon-search.svg" height="20" alt="Search" title="Search">
  </a>
</nav>
