<nav class="flex justify-between items-end">
  <div class="flex-auto flex-no-shrink">
    <a class="db" href="{{ site.url }}">
      <img class="db" src="{{ theme.link }}/images/logo.svg" width="184" alt="MedMates">
    </a>
  </div>

  <section class="dn-l ml5">
    <a href="">
      <img class="db" src="{{ theme.link }}/images/icon-menu.svg" height="27" alt="Menu" title="Menu">
    </a>
    <div style="left: 0;" class="child absolute w-100 pv4 ph3 bg-white shadow-5">
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">About</a></div>
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">Membership</a></div>
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">Events</a></div>
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">News</a></div>
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">Resources</a></div>
      <div><a class="f3 fw6 dark-gray hover-gray no-underline" href="">Log&nbsp;In</a></div>
    </div>
  </section>

  <section class="dn db-l hide-child ml5 mr2">
    <h1 class="ma0 f3 lh-subsolid fw6 dark-gray cursor">About</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <a class="db" href="">Mission</a>
      <a class="db" href="">What We Do</a>
      <a class="db" href="">History</a>
      <a class="db" href="">Board of Directors</a>
      <a class="db" href="">Leadership</a>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw6 dark-gray cursor">Membership</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <a class="db" href="">Benefits</a>
      <a class="db" href="">Directory</a>
      <a class="db" href="">Active Teams</a>
      <a class="db" href="">Join</a>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw6 dark-gray cursor">Events</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <a class="db" href="">Calendar</a>
      <a class="db" href="">Open Networking</a>
      <a class="db" href="">All Events</a>
      <a class="db" href="">Workshops</a>
      <a class="db" href="">Pitch Events</a>
      <a class="db" href="">Team Meetings</a>
      <a class="db" href="">Regional Events</a>
      <a class="db" href="">EXPO</a>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw6 dark-gray cursor">News</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <a class="db" href="">Latest News</a>
      <a class="db" href="">Category 1</a>
      <a class="db" href="">Category 2</a>
      <a class="db" href="">Category 3</a>
      <a class="db" href="">Category 4</a>
    </div>
  </section>

  <section class="dn db-l hide-child ml3 mr2">
    <h1 class="ma0 f3 lh-subsolid fw6 dark-gray cursor">Resources</h1>
    <div class="child absolute nl3 pa3 bg-white shadow-5">
      <a class="db" href="">Member Directory</a>
      <a class="db" href="">Training</a>
      <a class="db" href="">Mentors</a>
      <a class="db" href="">Equipment</a>
      <a class="db" href="">Facilities</a>
      <a class="db" href="">Capital</a>
    </div>
  </section>

  <a class="dn db-l ml3 mr2 f3 lh-subsolid fw6 dark-gray hover-gray no-underline" href="">Log&nbsp;In</a>

  <a class="dn db-l flex-no-shrink ml3" href="">
    <img class="db" src="{{ theme.link }}/images/icon-search.svg" height="24" alt="Search" title="Search">
  </a>
</nav>
