{% extends "base.twig" %}

{% block content %}
  {% for post in posts %}
    <div class="mw7">
      {% include ["includes/teaser-" ~ post.post_type ~ ".twig", "includes/teaser.twig"] %}
    </div>
  {% endfor %}

  {% include ["includes/pagination.twig"] %}
{% endblock %}
