{% extends "base.twig" %}

{% block content %}
  <h1 class="mv4 f2 lh-title green">Latest Posts</h1>

  {% for post in posts %}
    {% include ["teaser-" ~ post.post_type ~ ".twig", "teaser.twig"] %}
  {% endfor %}
{% endblock %}
