<nav class="flex justify-between items-end">
  <a class="flex-no-shrink f3 lh-solid fw6 no-underline" href="{{ site.url }}">
    <img style="transform: translateY(0px);" class="dib" src="{{ theme.link }}/images/logo.svg" width="192" alt="MedMates">
  </a>

  <a class="dn-l flex-no-shrink ml3 f3 lh-solid fw6 no-underline" href="">
    <img class="dib" src="{{ theme.link }}/images/icon-menu.svg" width="24" alt="Menu" title="Menu">
  </a>

  <section class="dn db-l hide-child ml4">
    <h1 class="ma0 f3 lh-solid fw6">About</h1>
    <ul class="child absolute ma0 nl3 pa3 bg-white shadow-5">
      <li><a href="">Mission</a></li>
      <li><a href="">What We Do</a></li>
      <li><a href="">History</a></li>
      <li><a href="">Board of Directors</a></li>
      <li><a href="">Leadership</a></li>
    </ul>
  </section>

  <section class="dn db-l hide-child ml3">
    <h1 class="ma0 f3 lh-solid fw6">Membership</h1>
    <ul class="child absolute ma0 nl3 pa3 bg-white shadow-5">
      <li><a href="">Benefits</a></li>
      <li><a href="">Directory</a></li>
      <li><a href="">Active Teams</a></li>
      <li><a href="">Join</a></li>
    </ul>
  </section>

  <section class="dn db-l hide-child ml3">
    <h1 class="ma0 f3 lh-solid fw6">Events</h1>
    <ul class="child absolute ma0 nl3 pa3 bg-white shadow-5">
      <li><a href="">Calendar</a></li>
      <li><a href="">Open Networking</a></li>
      <li><a href="">All Events</a></li>
      <li><a href="">Workshops</a></li>
      <li><a href="">Pitch Events</a></li>
      <li><a href="">Team Meetings</a></li>
      <li><a href="">Regional Events</a></li>
      <li><a href="">EXPO</a></li>
    </ul>
  </section>

  <section class="dn db-l hide-child ml3">
    <h1 class="ma0 f3 lh-solid fw6">News</h1>
    <ul class="child absolute ma0 nl3 pa3 bg-white shadow-5">
      <li><a href="">Latest News</a></li>
      <li><a href="">Category 1</a></li>
      <li><a href="">Category 2</a></li>
      <li><a href="">Category 3</a></li>
      <li><a href="">Category 4</a></li>
    </ul>
  </section>

  <section class="dn db-l hide-child ml3">
    <h1 class="ma0 f3 lh-solid fw6">Resources</h1>
    <ul class="child absolute ma0 nl3 pa3 bg-white shadow-5">
      <li><a href="">Member Directory</a></li>
      <li><a href="">Training</a></li>
      <li><a href="">Mentors</a></li>
      <li><a href="">Equipment</a></li>
      <li><a href="">Facilities</a></li>
      <li><a href="">Capital</a></li>
    </ul>
  </section>

  <a class="dn db-l ml3 f3 lh-solid fw6 no-underline" href="">Log&nbsp;In</a>

  <a class="dn db-l flex-no-shrink ml3 f3 lh-solid fw6 no-underline" href="">
    <img class="dib" src="{{ theme.link }}/images/icon-search.svg" width="24" alt="Search" title="Search">
  </a>
</nav>
