{% extends "base.twig" %}

{% block content %}
  <article class="mb5">
    <div class="mw7">
      {{ post.content }}
    </div>
  </article>

  {% if posts %}
    <section>
      {% include "components/post-list.twig" %}
    </section>
  {% endif %}
{% endblock %}
