{% extends "page.twig" %}

{% block header_title %}
  {{ site.description }}
{% endblock %}

{% block page_content %}
  <section class="mb5">
    <div class="flex-l">
      <div class="order-1 mw6-m w-40-l mb5">
        {% include "components/title.twig" with { "content": "Events" } %}

        <div id="calendar" class="mini"></div>
      </div>

      <div class="order-0 w-60-l mb4 mr5-l">
        <div class="mb4">
          {% include "components/title.twig" with { "content": "Latest News" } %}
        </div>

        {% include "components/posts-list.twig" %}
      </div>
    </div>
  </section>
{% endblock %}
