{% extends "page.twig" %}

{% block content %}
  <article class="mb5">
    <div class="mw7">
      {{ page.content }}
    </div>
  </article>

  <section>
    <div class="col-2-l colg5">
      {% for post in posts %}
        <div class="colbia-l mb4">
          {% include ["includes/teaser-" ~ post.post_type ~ ".twig", "includes/teaser.twig"] %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
