{% extends "page.twig" %}

{% block header_title %}
  {{ site.description }}
{% endblock %}

{% block content %}
  {% if post.content %}
    <article>
      <div class="mw6">
        {{ post.content }}
      </div>
    </article>
  {% endif %}

  <section>
    <div>
      {% include "components/title.twig" with { "content": "Latest News" } %}
    </div>

    {% for post in posts %}
      <div class="mw7">
        {% include ["components/teaser-" ~ post.post_type ~ ".twig", "components/teaser.twig"] %}
      </div>
    {% endfor %}
  </section>
{% endblock %}
