{% extends "page.twig" %}

{% block header_title %}
  {{ site.description }}
{% endblock %}

{% block content %}
  <section class="mb5">
    {{ parent() }}
  </section>

  <section class="mb5">
    <div class="mb4">
      {% include "components/title.twig" with { "content": "Latest News" } %}
    </div>

    {% for post in posts %}
      <div class="mw7 mb4">
        {% include ["components/teaser-" ~ post.post_type ~ ".twig", "components/teaser.twig"] %}
      </div>
    {% endfor %}
  </section>

  {% include "components/join-callout.twig" %}
{% endblock %}
