{% extends "page.twig" %}

{% block header_title %}
  {{ site.description }}
{% endblock %}

{% block content %}
  {% if page.content %}
    <article class="mb4">
      <div class="mw6">
        {{ page.content }}
      </div>
    </article>
  {% endif %}

  <section>
    {% include "components/title.twig" with {"content": "Latest News"} %}

    {% for post in posts %}
      <div class="mw7">
        {% include ["components/teaser-" ~ post.post_type ~ ".twig", "components/teaser.twig"] %}
      </div>
    {% endfor %}
  </section>
{% endblock %}
