{% extends "page.twig" %}

{% block header_title %}
  {{ site.description }}
{% endblock %}

{% block content %}
  {% if page.content %}
    <article class="mb4">
      <div class="mw6">
        {{ page.content }}
      </div>
    </article>
  {% endif %}

  <section>
    <h1 class="mb4 f4 f3-m fw6 lh-title green">
      Latest {{ posts[0].type.labels.name }}
    </h1>

    {% for post in posts %}
      {% include ["includes/teaser-" ~ post.post_type ~ ".twig", "includes/teaser.twig"] %}
    {% endfor %}
  </section>
{% endblock %}
