{% extends "page.twig" %}

{% block content %}
  <article class="mb5">
    <div class="mw7">
      {{ page.content }}
    </div>
  </article>

  <section>
    {% include "components/post-list.twig" %}
  </section>
{% endblock %}
