{% extends "base.twig" %}

{% block content %}
  <article class="mb5">
    {% if post.content %}
      <section class="mw7 mb5 f4-m">
        {{ post.content }}
      </section>
    {% endif %}

    {% block page_content %}
    {% endblock %}
  </article>

  {% include "components/join-callout.twig" %}
{% endblock %}
