{% extends "page.twig" %}

{% block content %}
  <section class="mb5">
    {{ parent() }}
  </section>

  <section class="mb5">
    {% include "components/search-form.twig" %}
  </section>

  <div class="mb5">
    {% include "components/post-list.twig" %}
  </div>

  {% include "components/join-callout.twig" %}
{% endblock %}
