{% extends "page.twig" %}

{% block page_content %}
  <section class="mb5">
    {% include "components/search-form.twig" %}
  </section>

  <div class="mb5">
    {% include "components/posts-list.twig" %}
  </div>
{% endblock %}
