{% extends "single.twig" %}

{% block content %}
  <div class="flex-l">
    {% if post.content %}
      <article class="mb4 mr5-l">
        {% block single_post_content %}
          <div class="mw7 f4-m">
            {{ post.content }}
          </div>
        {% endblock %}
      </article>
    {% endif %}

    <div class="mw6-m w-40-l mt3 mb5">
      {% include "components/mini-calendar.twig" %}
    </div>
  </div>

  {% if post.team_members %}
    <section class="mb5">
      {% include "components/title.twig" with {"content": "Team Members" } %}

       {% for member_id in post.team_members %}
        {% set member = TimberUser(member_id) %}

        <div class="mb4">
          {% include "components/teaser-contact.twig" with { "post": member } %}
        </div>
      {% endfor %}
    </section>
  {% endif %}

  {% if post.contact_information %}
    <section class="mw6 mb5">
      {% include "components/title.twig" with { "content": "Join the Team" } %}

      {{ post.contact_information }}
    </section>
  {% endif %}

  {% include "components/join-callout.twig" %}
{% endblock %}
