{% extends "base.twig" %}

{% block content %}
  <article>
    <div class="mw7 mb4 f6 fw6 ttu tracked gray">
      Posted {{ post.post_date_gmt | time_ago }} by {{ post.author }}
    </div>

    <div class="mw7">
      {{ post.content }}
    </div>
  </article>
{% endblock %}
