{% extends "base.twig" %}

{% block content %}
  {% if post.content %}
    <article class="mb5">
      {% block single_post_content %}
        <div class="mw7">
          {{ post.content }}
        </div>
      {% endblock %}
    </article>
  {% endif %}

  {% block single_content %}
  {% endblock %}

  {% include "components/join-callout.twig" %}
{% endblock %}
