{% extends "single.twig" %}

{% block single_content %}
  {% if post.team_members %}
    <section class="mb5">
      {% include "components/title.twig" with {"content": "Team Members" } %}

      {% for member_id in post.team_members %}
        {% set member = TimberUser(member_id) %}

        <div class="mb4">
          {% include "components/teaser-contact.twig" with { "post": member } %}
        </div>
      {% endfor %}
    </section>
  {% endif %}

  {% if post.contact_information %}
    <section class="mw6 mb5">
      {% include "components/title.twig" with { "content": "Join the Team" } %}

      {{ post.contact_information }}
    </section>
  {% endif %}
{% endblock %}
