{% extends "taxonomy.twig" %}

{% block header_title %}
  {{ parent() }} Resources
{% endblock %}

{% block taxonomy_content %}
  {% if description %}
    <section class="mw7 mb5 f4-m">
      {{ description }}
    </section>
  {% endif %}
{% endblock %}
