/* Global Styles */

address,
blockquote,
form,
fieldset,
figure,
dl,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table {
  margin: 0;
  padding: 0;
  font: inherit;
}

address,
blockquote,
form,
fieldset,
figure,
dl,
ol,
ul,
p,
pre,
table {
  margin-bottom: var(--spacing-medium);
}

dt,
li {
  margin-bottom: var(--spacing-medium);
  margin-left: 1.33333rem;
  padding-left: var(--spacing-extra-small);
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--light-blue);
}
