@import "tachyons/src/_spacing";

/* Global Styles */

p, address, hr, pre, blockquote,
ol, ul, dl,
figure, figcaption {
  margin-bottom: var(--spacing-medium);
}

ul { list-style: square; }

li {
  margin-bottom: var(--spacing-medium);
  margin-left: 1.33333rem;
  padding-left: var(--spacing-extra-small);
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--light-blue);
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--blue);
  box-shadow: none;
}
