@import "tachyons/src/_normalize";
@import "tachyons/src/_spacing";
@import "./fonts/_transport";
@import "./variables/_colors";
@import "./variables/_media-queries";
@import "./_reset";
@import "./_global";

a {
  color: var(--blue) !important;
  text-decoration: underline !important;
}

a:focus {
  box-shadow: none;
}

a:hover {
  color: var(--light-blue) !important;
}

input,
select,
textarea {
  border: 1px solid var(--light-gray);
}

input:focus,
select:focus,
textarea:focus {
   box-shadow: none !important;
}

body {
  background-color: var(--white);
}

body,
.login label,
.login #backtoblog,
.login #nav,
.login #backtoblog a,
.login #nav a,
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  color: var(--dark-gray);
  font-size: 16px;
  font-family: "TransportNew", sans-serif;
}

select {
  color: var(--dark-gray);
}

#login {
  width: 100%;
  max-width: 480px;
  padding: 2rem 0;
}

.login form,
.login #login_error,
.login .message {
  box-shadow: none;
}

.login h1 a {
  background-image: url("images/logo.svg");
  width: 192px;
  height: 54px;
  margin: 0 25px 2rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

.interim-login.login h1 a {
  width: 192px !important;
}

#wp-auth-check-wrap #wp-auth-check {
  width: 480px !important;
  margin: 0 0 0 -240px !important;
}

.login h2 {
  display: none;
}

.login label,
.acf-field .acf-label label {
  font-size: inherit !important;
  line-height: 1.1375 !important;
}

.login form .input,
.login input[type="text"] {
  width: 100%;
  padding: 3px 5px;
  resize: none;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
}

.login form .input,
.login input[type="text"] {
  margin: 3px 0 20px;
}

#login form p {
  line-height: 0;
}

.acf-required {
  color: var(--yellow) !important;
}

.acf-error-message {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--dark-gray) !important;
}

.acf-error-message .acf-icon {
  background-color: var(--light-yellow) !important;
  color: var(--dark-gray) !important;
  text-decoration: none !important;
}

.acf-field .acf-error-message:after {
  border-top-color: var(--yellow) !important;
}

.acf-error-message p {
  margin: 0.5rem 0 !important;
  font-size: inherit !important;
  line-height: normal !important;
}

.login #login_error,
.login .message {
  padding-left: 25px;
  border: 0;
  background-color: var(--blue);
  color: var(--white);
}

.login form .forgetmenot {
  float: none;
  margin-bottom: 2rem !important;
}

input[type=checkbox]:checked:before {
  color: var(--blue);
}

#login form p.submit {
  margin-top: 1rem;
  text-align: left;
}

.login .button-primary {
  float: none;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
  height: auto;
  padding: 0.5rem 1rem;
  line-height: 1;
}

.wp-core-ui .button-primary {
  border: 1px solid var(--blue);
  box-shadow: none;
  background-color: var(--blue);
  color: var(--white);
  text-shadow: none;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-disabled,
.wp-core-ui .button-secondary.disabled,
.wp-core-ui .button-secondary:disabled,
.wp-core-ui .button-secondary[disabled],
.wp-core-ui .button.disabled,
.wp-core-ui .button:disabled,
.wp-core-ui .button[disabled] {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: var(--white) !important;
}

.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:hover {
  background-color: var(--light-blue) !important;
  border-color: var(--light-blue) !important;
}

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  border-radius: 0.25rem;
}

.login #nav {
  font-size: 0;
}

.login #nav a:first-of-type {
  margin-right: 1rem;
}

.login #nav a:last-of-type {
  margin-left: 1rem;
}

.login #backtoblog::first-letter {
  font-family: sans-serif;
}
