{% include "components/title.twig" with { "content": "Directory" } %}

<p class="mw6 mt3 mb0">
  <a href="{{ directory_link }}">Browse our directory</a> to connect with individuals and companies throughout southeast New England.
</p>
