{% if not user %}
  {% include "components/title.twig" with { "content": "Join " ~ site.title } %}

  <p class="mw6 mb0">
    <a href="{{ join_link }}">Join our community</a> to connect with professionals and companies throughout southeast New England.
  </p>
{% endif %}
