<div class="flex items-baseline nl3 nr3 ml0-m mr0-m pa3 pb0 bg-yellow">
  <div class="flex-auto nb3">
    {% include "components/title.twig" with { "content": "Events", "color": "white" } %}
  </div>

  <a class="lh-title white hover-white underline" href="{{ site.link }}/events">View More</a>
</div>

<div id="fullcalendar" class="mini"></div>
