<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//medmates.us7.list-manage.com/subscribe/post?u=f04761ed486042c7d3ac44886&amp;id=f5a5650c65" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">{% include "components/title.twig" with { "content": "Newsletter" } %}</label>
    <p class="mb3">
      Subscribe to our newsletter to receive updates by email.
    </p>
    <input type="email" value="" name="EMAIL" class="email w-100" id="mce-EMAIL" placeholder="Your email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f04761ed486042c7d3ac44886_f5a5650c65" tabindex="-1" value=""></div>
      <div class="clear mt2"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
<!--End mc_embed_signup-->
