{% set pagination = pagination | default(posts.pagination) %}

{% if pagination.prev or pagination.next %}
  <nav class="mv4 mv5-m">
    {% if pagination.prev %}
      <span class="{% if pagination.prev and pagination.next %} mr3 {% endif %}">
        <a href="{{ pagination.prev.link }}">Previous Page</a>
      </span>
    {% endif %}

    {% if pagination.next %}
      <span>
        <a href="{{ pagination.next.link }}">Next Page</a>
      </span>
    {% endif %}
  </nav>
{% endif %}
