<div class="flex-l flex-wrap-l">
  {% for post in posts %}
    <div class="w-50-l mb4 {% if loop.index is odd %}pr3-l{% else %}pl3-l{% endif %}">
      {% include teaser_template | default(["components/teaser-" ~ post.post_type ~ ".twig", "components/teaser.twig"]) %}
    </div>
  {% endfor %}
</div>
