{% include "components/title.twig" with { "content": "Resources" } %}

<p class="mw6 mt3 mb0">
  <a href="{{ resources_link }}">Browse our community resources</a> to explore, discover, and learn.
</p>
