<nav>
  {% for item in menu.get_items %}
    {% if post.slug in item.link %}
      {% for subitem in item.get_children %}
        {% include "components/subtitle.twig" with { "content": subitem.title, "link": subitem.link } %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</nav>
