{% extends "components/teaser-member.twig" %}

{% block member_details %}
  {% if post.development_stage or post.number_of_employees %}
    <div>
      {% if post.development_stage %}
        <div>
          {{ post.get_field("development_stage").label }}
        </div>
      {% endif %}

      {% if post.number_of_employees %}
        <div>
          {{ post.number_of_employees }} Employees
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
