<article>
  {% include "components/subtitle.twig" with { "content": post.title, "link": post.link } %}

  {% include "components/metadata-post.twig" %}

  {% if post.get_thumbnail %}
    <a href="{{ post.link }}"><img class="db" src="{{ post.thumbnail.src }}"></a>
  {% endif %}

  <p class="mt3 mb0">
    {{ post.get_preview(50, false, "") }}
  </p>
</article>
