<article class="flex">
  {% if post.avatar %}
    <div class="flex-no-shrink mr3 mr4-m">
      <a href="{{ post.link }}">
        <img class="db" src="{{ post.avatar(128) }}" width="128" height="128" alt="">
      </a>
    </div>
  {% endif %}

  <div>
    {% include "components/subtitle.twig" with { "content": post.display_name, "link": post.link } %}

    {% block member_details %}
    {% endblock %}
  </div>
</article>
