<h1 class="mt0 mb3 f3 lh-title {{ color | default("green") }}">
  {% if link %}{% spaceless %}
    <a href="{{ link }}">
  {% endspaceless %}{% endif %}{% spaceless %}

  {{ content }}

  {% endspaceless %}{% if link %}{% spaceless %}
    {% endspaceless %}</a>
  {% endif %}
</h1>
