{% if posts.pagination %}
  <nav class="mv5">
    {% if posts.pagination.prev %}
      <span class="{% if posts.pagination.prev and post.s.agination.next %} mr3 {% endif %}">
        <a href="{{ posts.pagination.prev.link }}">Previous Page</a>
      </span>
    {% endif %}

    {% if posts.pagination.next %}
      <span>
        <a href="{{ posts.pagination.next.link }}">Next Page</a>
      </span>
    {% endif %}
  </nav>
{% endif %}
