/* Global Styles */

p, address, hr, pre, blockquote,
ol, ul, dl,
figure, figcaption {
  margin-bottom: 2em;
}

ol, ul {
  padding-left: 1.33333rem;
}

ul { list-style: square; }

li {
  margin-bottom: 2em;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--light-blue);
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--blue);
  box-shadow: none;
}
